<header>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 img-responsive">
                    <a href= "<%= signup_path %>"> <%= image_tag "cashregister.png", width: "60%", height:"auto", justify: "left" %></a>
                    <div class="intro-text">
                        <span class="name">CLICK REGISTER TO SIGN UP!</span>
                            <div class="img-responive text-center">
                              <br>
                                <%= image_tag "line.png", width: "60%", height:"auto", justify: "left" %>
                            </div>
                        <span class="skills">Track Your Cash - Watch Who Spends in Your Family - Store Receipts</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>ABOUT</h2>
                    <br>
                    <h3>An application to help families track their cash spending and receipts. <h3>   
                </div>
            </div>
        </div>
    </section>

    <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>LOGIN</h2>
                    <div class="img-responive text-center">
                        <br>
                        <%= image_tag "line.png", width: "60%", height:"auto", justify: "left" %>
                    </div>
                </div>
            </div>
        </div>
    </section>