<!-- <!Doctype html>
  <html lang="en">
    <head>
      <meta charset="utf-8">
      <link rel="stylesheet" href="main.css">
      <link rel="stylesheet" href='http://fonts.googleapis.com/css?family=Raleway:400,700,200' rel='stylesheet' type='text/css'>
      <title>Members Index</title>
    </head>

<body> -->

<section id="overview" class="designed-to-be">
 <div class="container">
   <h2 class="text-center f-weight"><%= @family.username %></h2>
    <div class="row">
     <div class="col-sm-4 classroom">
       <h3 class="text-center img-text">PART-TIME</h3>
     </div>
     <div class="col-sm-4 tech">
       <h3 class="text-center img-text">INDUSTRY SPECIFIC</h3>
     </div>
     <div class="col-sm-4 slcPic">
       <h3 class="text-center img-text">DOWNTOWN, SLC</h3>
    </div>
  </div>

 </div>
 <div class="row collabWork">
   <div class="col-sm-12 col-sm-offset-2 collab-row">
     <h1 class="ux-text">UX</h1>
     <h1 class="design-text">DESIGN</h1>
   </div>
   <div class="col-sm-12 text-center collab-row2">
     <h3 class="problem">Problem-solving | </h3>
     <h3 class="creativity">Creativity | </h3>
     <h3 class="critical">Critical Thinking</h3>
   </div>

 </div>
</section>

<!-- </body>
</html> -->
