<div class="container text-center">
  <h1 class="header">New Member</h1>

  <%= form_for(@member, url: members_path) do |f| %>

   <%= f.text_field :name, class: "form-control", :placeholder => "Enter name", :style => "width:50%;" %>
   <br>

   <br>
   <%= f.submit("Save New Member", class: "myButton") %>
   <br><br><br>

  <% end %>
</div>
